.goods {
  background-color: blue;
}

.goods__wrapper {
  position: relative;
  width: $mobile-width;
  margin: 0 auto;
  padding: 30px 30px 15px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 70px 50px 25px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 126px 50px 15px;
  }
}

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.goods__inner {
  border: 1px solid gray;
  padding: 28px 26px 26px 27px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 27px 31px 25px 32px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    min-height: 197px;
    padding: 27px 22px 25px 27px;
  }
}

.goods__item {
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .goods__inner,
  &:focus .goods__inner {
    box-shadow: 0 9px 8px -1px gray;
  }

  &:active .goods__inner {
    box-shadow: 0 6px 5px -1px gray;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.goods__good-link {
  display: block;
}

.goods__image {
  display: block;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    width: 316px;
    height: 462px;
  }
}

.goods__title {
  margin: 0;
  margin-bottom: 5px;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  &:hover,
  &:focus {
    color: $basic-black;
  }

  &:active {
    color: gray;
  }

  @media (min-width: $tablet-width) {
    width: 265px;
    font-size: 20px;
  }
}

.goods__description {
  margin: 0;
  margin-bottom: 12px;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: green;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.goods__for-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid gray;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
  }
}

.goods__price {
  display: block;
  margin: 0;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: green;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.goods__cart-image {
  display: block;
  margin-top: 1px;
  fill: $basic-black;

  &:hover,
  &:focus {
    fill: gray;
  }

  &:active {
    fill: yellowgreen;
  }
}
