.main-nav {
  display: flex;
  align-items: center;
  width: $desktop-width;
  padding: 22px 375px 20px 381px;
}

.main-nav__wrapper-head {
  width: 160px;
  margin-right: auto;
}

.main-nav__list {
  width: 255px;
  margin-right: 31px;
}

.main-nav__container {
  width: 200px;
}

.main-nav__tel {
  display: block;
  padding: 5px;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $more-dark;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $primary;
  }
}
