.our-contacts {
  padding-left: 90px;
  padding-right: 30px;
}

.our-contacts__title {
  margin: 0;
  margin-bottom: 21px;
  font-family: $font-stack;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $more-dark;
}

.our-contacts__email {
  position: relative;
  display: block;
  margin-bottom: 19px;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $primary;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $basic-black;
  }

  &:focus .our-contacts__image-email,
  &:hover .our-contacts__image-email,
  &:active .our-contacts__image-email {
    fill: $primary;
  }
}

.our-contacts__phone {
  position: relative;
  display: block;
  margin-bottom: 19px;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $primary;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $basic-black;
  }

  &:focus .our-contacts__image-phone,
  &:hover .our-contacts__image-phone,
  &:active .our-contacts__image-phone {
    stroke: $primary;
  }
}

.our-contacts__image-email {
  position: absolute;
  top: -1px;
  left: -37px;
  display: block;
  fill: $gray;
}

.our-contacts__image-phone {
  position: absolute;
  top: -4px;
  left: -32px;
  display: block;
  stroke: $gray;
  fill: transparent;
}
