.page-footer {
  width: $desktop-width;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: $tablet-width;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 75px 384px 75px 388px;


}
