.places-to-visit {
  width: $desktop-width;
  margin: 0 auto;
  padding: 199px 375px 47px;

  @media (max-width: $tablet-width-max) {
    width: $tablet-width-max;
    padding: 80px;
  }

  @media (max-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (max-width: $mobile-width) {
    width: $mobile-width;
    padding: 108px 16px 40px;
  }
}

.places-to-visit__title {
  position: relative;
  width: 358px;
  margin: 0;
  margin-bottom: 64px;
  text-align: left;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1px;
  color: $dark;

  &::before {
    position: absolute;
    top: 200px;
    left: 0;
    content: "";
    display: block;
    width: 229px;
    height: 4px;
    background-color: $primary;
  }

  @media (max-width: $tablet-width-max) {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 45px;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    width: auto;
    font-size: 24px;
    line-height: 36px;
  }
}

.places-to-visit__description {
  width: 328px;
  margin: 0;
  margin-bottom: 56px;
  text-align: left;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: $dark-a-bit-transparent;


  @media (max-width: $tablet-width-max) {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}
