.site-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__link {
  display: block;
  padding: 25px 15px;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $more-dark;

  &:hover,
  &:focus,
  &:active {
    color: $primary;
  }
}
