.trip-info {
  width: $desktop-width;
  margin: 0 auto;
  background-image: url("../img/background-map.jpg");
  background-size: 1444px auto;
  background-position: 50% 33%;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-map@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    width: $tablet-width-max;
    background: white;
  }

  @media (max-width: $tablet-width) {
    width: $tablet-width;
  }
}
