// fonts
$font-stack: "Open Sans", "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$teblet-width-max: 1023px;
$desktop-width: 1024px;

// colors
$primary: #FE7865;
$primary-hover: #F17D4B;
$dark: #2C2E3F;
$more-dark: #141517;
$lighter: #FBF8F8;
$basic-white: #fff;
$basic-black: #000;
