// fonts
$font-stack: "Montserrat", sans-serif;

// Viewports
$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1023px;
$desktop-width-min: 1024px;
$desktop-width: 1920px;

// colors
$primary: #FE7865;
$secondary: #F17D4B;
$dark: #2C2E3F;
$dark-a-bit-transparent: rgba(44, 46, 63, 0.7);
$dark-almost-transparent: rgba(44, 46, 63, 0.5);
$dark-transparent: rgba(44, 46, 63, 0.3);

$more-dark: #141517;
$more-dark-a-bit-transparent: rgba(20, 21, 23, 0.7);
$more-dark-transparent-hover: rgba(20, 21, 23, 0.6);
$more-dark-transparent: rgba( 20, 21, 23, 0.5 );

//menu button colors
$button-cross: rgba( 20, 21, 23, 0.2 );
$button-line: #DADADA;

$lighter: #FBF8F8;
$gray: #D7D9DF;
// form`s shadow
$form-shadow: rgba(41, 54, 66, 0.1);

// colors for modals
$modal-text: #48494D;


//backgrounds for images
$background-greece: #8db6da;
$background-albania: #299ca3;
$background-macedonia: #91c8cf;
$background-montenegro: #64944c;
$background-croatia: #b19667;
$background-author-image: #7b7e80;
$basic-white: #fff;
$basic-white-transparent: rgba(255, 255, 255, 0.7);
$basic-black: #000;

