// fonts
$font-stack: "Open Sans", "Arial", sans-serif;


// Viewports
$mobile-size: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

// colors
$basic-white: #ffffff;
$basic-black: #000000;
